<!DOCTYPE html>
<html lang="en">
<body>
    <% include ./partials/_header %>
      <%= shortURL %>

  <p>Follow your link <a href="http://localhost:8080/u/<%= shortURL %>">HERE</a>.
  </p>

</body>
</html>