<!DOCTYPE html>
<html lang="en">
<body>
   <% include ./partials/_headers %>
    <p>
    Click <a href="http://localhost:8080/urls/new">HERE</a> to shorten a URL
    </p>


   <% urls.forEach(function(url) { %>


      <h2><%= url['shortURL'] %></h2>
      <li><%= url['longURL'] %></li>

      <form method="POST" action="http://localhost:8080/urls/<%= url['shortURL'] %>?_method=DELETE"><button type="submit">DELETE</button></form></li>
      <form method="GET" action="http://localhost:8080/urls/<%= url['longURL']%> edit"><button type="submit">EDIT</button></form>
   <% });%>

</body>
</html>